/* Thiết lập cơ bản cho body */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


/* Container chung cho layout */

.container {
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 10px;
}


/* Căn chỉnh các phần tử trong top-bar, main-header và main-nav */

.top-bar .container,
.main-header .container,
.main-nav .container ,
.main-header1 .container,
.main-nav1 .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* Thiết kế cho thanh top-bar */

.top-bar {
    background-color: black;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
    font-size: 12px;
    height: 25px;
    /* Chiều cao khớp với input */
}

.top-bar nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.top-bar nav ul li {
    margin-right: -1px;
    margin-left: 20px;
    font-size: 10px;
}

.top-bar nav ul li a {
    color: #fbfbfb;
    text-decoration: none;
    font-weight: normal;
}

.search-bar {
    display: flex;
    align-items: center;
    height: 100%;
}

.search-bar input {
    background-color: black;
    padding: 5px;
    border: none;
    border-radius: 3px 0 0 3px;
    width: 200px;
    font-size: 10px;
    height: 100%;
    margin-left: 500px;
}

.search-bar button {
    padding: 5px;
    border: none;
    background-color: #fff;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
    font-size: 10px;
    margin-left: 7px;
    height: 100%;
}


.main-header {
    background-color: #f0a52b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 0px;
    /* Giảm padding để làm cho header nhỏ hơn */
}
.main-header1 {
    background-color: #1b1a1a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 0px;
    /* Giảm padding để làm cho header nhỏ hơn */
}
.logo {
    display: flex;
    align-items: center;
    margin-right: 250px;
}

.logo img {
    height: 65px;
    /* Điều chỉnh kích thước logo */
    margin-right: 10px;
    margin-left: -50px;
}

.logo-text {
    display: flex;
    flex-direction: column;
    color: white;
}

.logo-main {
    font-size: 24px;
    /* Giảm kích thước chữ nếu cần */
    font-weight: bold;
}

.logo-sub {
    font-size: 6px;
    /* Giảm kích thước chữ của dòng phụ */
    color: rgb(229, 226, 226);
}


/* Kiểu dáng cho Điều hướng Chính */

.main-nav {
    background-color: #a00101;
}
.main-nav1 {
    background-color: #3c3b3b;
}
.main-nav ul, .main-nav1 ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow-x: auto;
    white-space: nowrap;
}

.main-nav ul li, .main-nav1 ul li {
    padding: 7px 9px;
    /* Giảm padding để thu hẹp khoảng cách */
}

.main-nav ul, .main-nav1 ul {
    margin-left: 45px;
}

.main-nav ul li a, .main-nav1 ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    font-weight: none;
    transition: background-color 0.3s ease;
}

.main-nav ul li:first-child {
    background-color: #a00101;
}

.main-nav1 ul li:first-child {
    background-color: #3c3b3b;
}
.main-nav1 ul li:first-child a {
    font-size: 15px;
}
.main-nav ul li:first-child a {
    font-size: 15px;
}
.main-nav1 ul li:first-child a {
    font-size: 15px;
}
.trending-topics a {
    background-color: rgba(255, 255, 255, 0.082);
    color: #ffffff;
    text-decoration: none;
    margin-right: auto;
    /* Giảm từ 20px xuống 15px */
    margin-left: 5px;
    /* Giảm từ 10px xuống 5px */
    text-decoration: none;
    padding: 5px 10px;
    /* Tăng padding để có vùng nhấp chuột lớn hơn */
    border-radius: 15px;
    font-size: 11px;
    white-space: nowrap;
    border: 1px solid #eeecec;
}

.trending-topics {
    font-size: 16px;
    /* Tăng kích thước chữ */
    line-height: 1.4;
    /* Điều chỉnh chiều cao dòng để dễ đọc hơn */
    margin-left: -110px;
    /* Di chuyển chủ đề thịnh hành sang trái */
    margin-right: 100px;
}

.arrow-icon {
    display: inline-block;
    font-size: 24px;
    /* Điều chỉnh kích thưc nếu cần */
    color: #ffffff;
    /* Màu trắng */
    padding: 2px 6px;
    border-radius: 4px;
    transform: rotate(45deg);
    /* Xoay để khớp với hình ảnh */
}


/* thay đổi màu sắc */

.main-nav ul li a:hover {
    padding: 7px 6px;
    background-color: #800000;
    /* Màu đỏ đậm hơn */
}

.main-nav1 ul li a:hover {
    padding: 7px 6px;
    background-color: #000000;
    /* Màu đỏ đậm hơn */
}
.main-menu {
    position: relative;
}

.menu-toggle {
    cursor: pointer;
    display: inline-block;
    width: 25px;
    text-align: center;
}
.title-menu {
    border-left: 3px solid #f34905;
    padding-left: 5px;
}   
.subs-menu {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    padding: 10px 10px;
    /* Giảm padding-top từ 20px xuống 10px */
}

.subs-menu.active {
    display: block;
}

.subs-menu .container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 15px;
    /* Giảm gap từ 20px xuống 15px */
    padding: 10px 0;
    /* Giảm padding-top từ 20px xuống 10px */
}

.menu-row {
    display: contents;
}

.menu-column {
    padding: 0 10px;
    margin-top: -5px;
    /* Thêm margin âm để di chuyển nội dung lên trên */
    padding-left: 51px;
    /* Thêm padding bên trái để thụt nội dung */
}


/* Nhắm vào tất cả các liên kết trực tiếp trong subs-menu */

.subs-menu .container>a,
.subs-menu .menu-row>a,
.subs-menu .menu-column>a {
    font-weight: bold;
    font-size: 15px;
    color: #000000;
    text-decoration: none;
    margin-bottom: 10px;
    display: block;
}


/* Kiểu dáng cụ thể cho các mục submenu */

.submenu {
    display: flex;
    flex-direction: column;
}

.submenu a {
    font-size: 13px;
    font-weight: normal;
    color: #484747;
    padding: 3px 0;
    transition: color 0.3s ease;
    text-decoration: none;
}

.submenu a:hover {
    color: #000000;
}


/* Làm cho bảng menu hiện ra không bị nằm ở footer */

header {
    position: relative;
}

.submenu a {
    text-decoration: none;
    color: #858383;
}
.border-solid1 {
    border-top: 3px solid #fb5f05bb;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 10px;
}

.border-solid2 {
    border-top: 1px solid #e9e3e3bb;
    width: 75%;
    margin: 0 auto;
    margin-bottom: 10px;
}

.web-info span {
    padding: 100px;
    margin-left: 60px;
    margin-right: -90px;
}

.mini-web,
.title-mini-web {
    text-decoration: none;
}

.title-mini-web {
    font-weight: bold;
    padding: 30px 0px;
    color: #000000;
    font-size: 14px;
    margin-left: 30px;
    margin-right: 10px;
}

.mini-web {
    margin-right: 10px;
    padding: 5px 0;
    color: #858383;
    font-size: 13px;
}

.mini-web:hover {
    color: #000000;
}

.space {
    background-color: #ded6d6a0;
    height: 30px;
}
.hi {
    margin: 0px 0px 0px 200px;
    margin-bottom: 1px;
    width: 1200px;
}

.hi ul {
    padding: 0px;
    margin-bottom: -5px;
}

.hi ul li {
    display: inline;
    padding: 0px 2px;
}

.hi ul li a {
    text-decoration: none;
    color: black;
    font-size: 14px;
    margin-right: 15px;
}

.hi a:hover {
    text-decoration: underline;
    text-decoration-color: rgb(254, 20, 20);
    text-decoration-thickness: 3px;
}

.hi ul li:nth-child(4) {
    margin-right: 400px;
    /* Khoảng cách lớn hơn sau 'TV-SHOW' */
}

.hi1 {
    margin: 0px 0px 0px 200px;
    margin-bottom: 1px;
    width: 1200px;
}

.hi1 ul {
    padding: 0px;
    margin-bottom: -5px;
}

.hi1 ul li {
    display: inline;
    padding: 0px 2px;
}

.hi1 ul li a {
    text-decoration: none;
    color: black;
    font-size: 14px;
    margin-right: 15px;
}

.hi1 a:hover {
    text-decoration: underline;
    text-decoration-color: rgb(254, 20, 20);
    text-decoration-thickness: 3px;
}


.hi1 {
    margin: 0px 0px 0px 200px;
    margin-bottom: 1px;
    width: 1200px;
}

.hi1 ul {
    padding: 0px;
    margin-bottom: -5px;
}

.hi1 ul li {
    display: inline;
    padding: 0px 2px;
}

.hi1 ul li a {
    text-decoration: none;
    color: black;
    font-size: 14px;
    margin-right: 15px;
}

.hi1 a:hover {
    text-decoration: underline;
    text-decoration-color: rgb(254, 20, 20);
    text-decoration-thickness: 3px;
}

.hi1 ul li:nth-child(5) {
    margin-right: 250px;
    /* Khoảng cách lớn hơn sau 'TV-SHOW' */
}

.body {
    margin: 0px 200px 0px 200px;
    width: 780px;
}
.zero{
    height: 290px;
    display: flex;
    margin-bottom:-20px;   
 }
 .zero section p a{
    padding-top: 15px;

 }
 
 .zero aside {
    padding-left: 30px;
    font-size: 15px;
 }
 
 .zero aside a {
    font-size: 130%;
    text-decoration: none;
    color: black;
 }
 
.one {
    padding-top: 15px;
    display: flex;
    height: 530px;
    width: 730px;
}
.img-hot {
    width: 240px;
    height: 150px;
   
}
.one section {
    width: 550px;
    padding-right: 50px;
    font-size: 15px;
}

.one section p a {
    padding-right: 20px;
    font-size: 25px;
    text-decoration: none;
    color: black;
}

.one aside p a {
    padding-right: 10px;
    text-decoration: none;
    color: black;
    font-size: 14px;
}

.two {
    height: 220px;
    display: flex;
}
.two {
    height: 220px;
    display: flex;
}
.two section {
    padding-top: 15px;
}

.two aside {
    padding-left: 30px;
    font-size: 15px;
}

.two aside a {
    font-size: 130%;
    text-decoration: none;
    color: black;
}
.three {
   
    padding-top: 9px;
    display: flex;
    height: 530px;
    width: 640px;
}
.three section {
    width: 550px;
    padding-right:10px;
    font-size: 15px;
}

.three section p a {
    padding-right: 10px;
    font-size: 25px;
    text-decoration: none;
    color: black;
}

.three aside p a {
    padding-right: 0px;
    text-decoration: none;
    color: black;
    font-size: 17px;
    width:-40px;
}

.three aside {
    padding-left: 15px;
    font-size: 15px;
}
.three span{
    font-size:14px;
}
.four{
    padding-top: 9px;
    display:contents;
    height: 530px;
    width: 640px;
}
.four aside p a{
    
    font-size:30px;
    text-decoration: none;
    color: black;
}
.four img{
    margin-bottom:10px;
    width:780px;
    height:400px;
}
.size-normal  {
    font-size:14.5px;
    text-decoration:none;
    color:#000;
}
.text{
    position: absolute;
    left:100px;
    right:100px;
    width:340px;
    bottom: 20px;
    margin-left:100px; 
    padding:380px 0px 25px 41px;
    font-family: SFD-Light;
    font-size: 28px;
    color: #ffff;
    text-decoration:none;
    line-height: 30px;
    background-image: linear-gradient(rgba(0, 0, 0, 0), #000);
    content: '';
    font-weight: normal;
    

}

/* MENU phía dưới */
.footer-menu {
    margin-top: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 13px;
    background-color: #e0e0e0;
    text-align: center;
}

.footer-menu a {
    color: #766e6e; 
    text-decoration: none; 
    margin: 0 5px;
}

.footer-menu a:hover {
    color:  rgba(190, 70, 70, 0.688); /* Đổi màu chữ khi trỏ vào */
    text-decoration: underline;
    text-decoration-color: rgba(190, 70, 70, 0.688); /* Màu gạch dưới */
}
.footer {
    margin: 20px 200px 0px 200px;
    width: 1100px;
    height: 500px;
    display: flex;
}

.footer-mini-one {
    width: 300px;
    font-size: 15px;
    color: #4e4545;
}

.footer-mini-one span {
    margin: 0;
    padding-top: px;
    font-size: 15px;
}
.footer-mini-one span a {
    font-size: 10px;
    text-decoration: none;
    color: #4e4545;

}
.footer-mini-one a:hover {
    text-decoration: underline;
}
.footer-mini-one h4 {
    margin-bottom: 7px; 
}

.footer-mini-one-1 {
    padding-top: 50px;
    width: 310px;
    font-size: 15px;
    padding-right: 10px;
}

.footer-mini-two {
    width: 300px;
    font-size: 15px;
    color: #4e4545;
}
.footer-mini-two span {
    font-size: 15px;
}
.footer-mini-two span a {
    font-size: 15px;
    text-decoration: none;
    color: #4e4545;

}
.footer-mini-two a:hover {
    text-decoration: underline;
}
.chat-table-1{
    margin-top: 20px 
}
.chat-table-1 button {
    background-color: rgb(7, 141, 219);
    width: 200px;
    text-align: center; 
}
.chat-table-1 button a {
    text-decoration: none;
    color: white;
    font-size: 13px;
}
.chat-table-1 a:hover {
    text-decoration: none;
}
.chat-table-1 button:hover {
    background-color: rgb(77, 146, 225); 
}
.chat-table-2{
    margin-top: 20px 
}
.chat-table-2 button{
    background-color: rgb(233, 84, 121);
    width: 150px;
    text-align: center;
}
.chat-table-2 button a {
    text-decoration: none;
    font-size: 13px;
    color: white;
}
.chat-table-2 a:hover {
    text-decoration: none; 
}
.chat-table-2 button:hover {
    background-color: black; 
}
.chat-table-3 a{
    text-decoration: none; 
    color: black;
}
.footer-mini-three {
    width: 310px;
    padding-top: 15px;
    font-size: 15px;
    color: #4e4545;
}

.footer-mini-three b {
    font-size: 18px;
}
.DK{
    height: 300px;
}
.logo-mini{
    padding-top: 15px;
    display: flex;
}
.logo-mini p{
    padding-top: 2px;
    padding-left: 5px;
}
.logo-mini-1{
    padding-top: 20px;
    display: flex;
}
.logo-mini-1 p{
    padding-top: 2px;
    padding-left: 5px;
}
.footer-max{
    margin: 40px 200px 0px 200px;
    width: 1100px;
    height: 150px;
    display: flex;
}
.footer-table1 td{
    padding-left: 10px;
    font-size: 10px;
    display: flex;
}
.footer-table1 table{
    border: 1px solid ;
    width: 580px;
}
.footer-table1 table section{
    padding: auto;
}
.footer-table1 table aside{
    padding-left: 10px;
}
.footer-table-mini{
    display:flex;
    width: 60px;
    height: 30px;
}
.footer-table1 aside p b{
    font-size: 15px;
}
.footer-table1 aside p {
    font-size: 13px;
}
.footer-mini1 {
    padding-top: 10px;
    display: flex;
}
.footer-mini2{
    padding-left: 10px;
    display: flex;
}
.footer-mini2 a{
    text-decoration: none ;
    color: #000000;
    font-size: 13px;
    padding-top: 10px;

}
.footer-mini2 a:hover {
    text-decoration: underline;
}
.footer-table2{
    width: 700px;
    height:130px;
    margin-left: 10px;
}
.img-aside {
    padding-left: -5px;
    width: 225px; 
    height: 290px;
    display: block; /* Loại bỏ khoảng trống dưới ảnh */
    margin-bottom: 10px; /* Thêm khoảng cách giữa ảnh và văn bản */
    object-fit: cover;
   
}
.text0{
    position: absolute;
    margin-top:-16px;
    margin-right:482px;
    margin-left:0px;
    padding:3px 0px 5px 1px;
    line-height:30px;
    font-size: 14px;
    background-color: #e4e4e4fe;
}
 
.img-aside2-container {
    width: 100%;
    max-width: 600px; 
    margin-bottom: 10px;
}

.img-aside2 {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}
.img-aside3 {
    padding-right:10px;
    padding-left: -5px;
    width: 200px; 
    height: auto;
    display: block; /* Loại bỏ khoảng trống dưới ảnh */
    margin-bottom: -10px; /* Thêm khoảng cách giữa ảnh và văn bản */
    object-fit: cover;
}
.img-aside4{
    padding-right:10px;
    padding-left: -10px;
    width: 200px; 
    height: 118px;
    display: block; /* Loại bỏ khoảng trống dưới ảnh */
    margin-bottom: -10px; /* Thêm khoảng cách giữa ảnh và văn bản */
    object-fit: cover;
}
.img-aside5{
    top: 0px;
    padding-right:20px;
    padding-left: -20px;
    width: 400px 0px; 
    height: 500px ;
    display: block; /* Loại bỏ khoảng trống dưới ảnh */
    margin-bottom: -10px; /* Thêm khoảng cách giữa ảnh và văn bản */
    object-fit: cover;
    display: block;
    position: relative;
    overflow: hidden;
    text-decoration: none;
    z-index: 0;
    
}
.img-normal {
    padding-left: 0; /* Giảm padding bên trái */
    margin-left: 0px; /* Thêm margin âm để đưa ảnh sang trái */
    width: 250px; 
    height: 155px;
    display: block; /* Loại bỏ khoảng trống dưới ảnh */
    margin-bottom: 10px; /* Thêm khoảng cách giữa ảnh và văn bản */
    object-fit: cover; /* Đảm bảo ảnh không bị méo */
}
.img-mini{
    height: 25px;
    margin-bottom:-5px;
}
.img-mini1{
    height: 25px;
    margin-bottom:-5px;
    margin-left:-10px;
}
.img-big{
 
    width:100px;
    height:200px;
}
.pre-footer {
    display: flex;
    justify-content: space-between;
    margin: 20px 200px;
    width: 780px;
  }
  
  .pre-footer-section {
    width: 48%; /* Adjust as needed */
  }
  
  .pre-footer-section h2 {
    color: #000000;
    font-size: 20px;
    margin-bottom: 10px;
    padding-bottom: 5px;
    font-weight: bold;
  }
  .pre-footer-section h2{
    border-left: 5px solid #f34905;
    padding-left: 10px;
   
  }
  .pre-footer-content {
    display: flex;
    flex-direction: column;
  }
  
  .pre-footer-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  }
  
  .pre-footer-item img {
    width: 350px;
    height: 200px;
    object-fit: cover; /* Đảm bảo ảnh được hiển thị đầy đủ trong khung, cắt bớt nếu cần thiết để giữ tỷ lệ */
    margin-right: 10px;
  }
  
  .pre-footer-item1 p {
    margin: auto;
    font-size: 17px;
    margin-bottom: 10px;
  }
  
  .pre-footer-item a {
    color: #000000;
    text-decoration: none;
    font-weight: bold;
  }
  .pre-footer-item2 {
    margin-top: auto;
    font-size: 14px;
    color: #605f5f;
    font-weight: normal;
  }
  .pre-footer-item3 {
    margin-top: auto;
    font-size: 15px;
    color: #000000;
    font-weight: bold;
  }
  .pre-footer-item4{
    margin-top: auto;
    font-size: 14px;
    color: #605f5f;
    font-weight: normal;
    margin-bottom: 28px;
  }
  .pre-footer-item5{
    margin-top: auto;
    font-size: 14px;
    color: #605f5f;
    font-weight: normal;
    margin-bottom: -6px;
  }
  .border-solid2 {
    border-top: 1px solid #e9e3e3bb;
    width: 100%;
    margin-top: -20px;
}
.pre-footer-section h2.no-underline {
    text-decoration: none;
}

